[submodule "snippets/shnippet"]
	path = snippets/shnippet
	url = https://github.com/LukeHoersten/shnippet.git
[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
